<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">
        <icon class="header" ng-src="model.photoUrl"
          aria-label="{{model.fullname()}}"
          otherwise="icon ion-android-person">
        </icon>
        <span>{{model.fullname()}}</span>
      </h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/roster/list">
          {{'Roster' | translate}}
        </ion-item>
        <ion-item nav-clear menu-close href="#/user/list">
          {{'User' | translate}}
        </ion-item>
        <ion-item nav-clear menu-close href="#/group/list/private">
          {{'Group' | translate}}
        </ion-item>
        <ion-item nav-clear menu-close href="#/user/update">
          {{'Personal Info' | translate}}
        </ion-item>
	<a class="item item-icon-right" href="#" ng-click="statusModal.show()">
		{{model.status | translate}}
		<i class="icon ion-ios-arrow-right"></i>
	</a>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
