/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "www/lib/ngImgCrop/source/scss/ng-img-crop.scss";
@import "www/lib/compass-css-arrow/stylesheets/compass-css-arrow/_css-arrow.scss";

$select-color:	#bbd8ff;

$msg-color: #f5f5f5;

$msg-arrow: 20px;

$input-height: 54px;

.editable-click, a.editable-click {
  color: #428bca !important;
  border-bottom: none 1px #428bca !important;
  cursor: pointer;
}

.editable-wrap {
  display: block;
  margin: .4em 0;
  input[type="text"] {
    border: 1px solid grey;
  }
}
.toggle {
  @extend .toggle-positive;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px;
}

.platform-ios ion-popover-view.fit {
  padding-top: 10px;
  padding-bottom: 10px;
}

ion-popover-view.fit {
  height: auto;

	ion-content {
  	position: relative;
	}
}

.button-clear.button-clear {
	color: $button-default-text;
}

input[type=file] {
  display: none;
}

util-audio-player {
  display: block;
}

ion-content#status {
	form.editable-text {
		div.editable-controls {
			width: 100%;
			input {
				width: 60%;
				overflow: hidden;
			}
			span.editable-buttons {
				float: right;
			}
		}
	}
}

util-audio {
	display: block;
}

.has-error {
	border-color: red;
}

.form-error {
	color: red;
}

.status {
	font-size: smaller;
	background-color: #FFAD33;
	border-radius: 4px;
	padding: 2px 4px 2px 4px;
}

.selected {
	background-color: $select-color;

	.item-content {
		background-color: $select-color;
	}
}

.file {
	display: table;
	text-align: center;

	.file-icon {
		display: inline-block;
	}

	.file-name {
		display: table-row;
		font-size: smaller;
	}
}

img {
	border-radius: 50%;
}

icon i {
	@extend img;

	text-align: center;
	background-color: #e0e0e0;
	color: white;
	width: 100%;
}

i.header {
	display: inline-block;
	font-size: 34px;
	width: 34px;
	height: 34px;
}

i.avatar {
	font-size: 40px;
	width: 40px;
	height: 40px;
}

i.photo {
  font-size: 200px;
  @media only screen and (max-width: 600px) {
    font-size: 33vw;
  }
}

.photo {
  display: block;
  margin: auto;
  max-width: 200px;
  max-height: 200px;
  @media only screen and (max-width: 600px) {
    width: 33vw;
    max-width: 100%;
  }
}

div.fileButton {
  position: relative;
  margin: auto;

  input[type='file'] {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
  }
}

.photo.edit {
	cursor: pointer;
}

.cropArea {
	margin: auto;
	display: block;
	background: $msg-color;
	width: 300px;
	height: 300px;

	img {
		width: 100%;
		height: 100%;
	}
}

.item-avatar {
	icon {
		img, i {
			position: absolute;
		    top: 16px;
		    left: 16px;
		    max-width: 40px;
		    max-height: 40px;
		    height: 100%;
		    font-size: 40px;

			@extend img;
		}
	}
}

ion-header-bar h1 img {
	height: 80%;
	vertical-align: middle;
}

.scroll {
	height: 100%;

	iframe {
		width: 100%;
		height: 100%;
	}
}

ion-nav-view[name=groupContent] {
	.row {
		.col {
			.button {
				width: 100%;
			}
		}
	}
	[name=typeSelect] a {
		@extend .disabled;
	}
	ion-item.item-avatar.user {
		cursor: pointer;
	}
}

ion-nav-view[name=userContent] {
	.row {
		.col-33 {
			.button {
				height: $input-height;
				width: 100%;	/* phone, email, address type */
			}
		}
		.col:last-of-type {
			@extend .col-67;
			.item {
				height: $input-height;
				input {
					width: 100%;
				}
			}
		}
	}
  .item-note {
    cursor: pointer;
  }
}

ion-nav-view[name=chatContent] {
	.row {
		display: inline-block;
		padding: 0;

		.card {
			overflow: inherit !important;
			max-width: 70%;
			position: relative;
			background-color: $msg-color;
			margin: .6em;
			padding: .6em;

			img {
				border-radius: .4em;
				max-width: 100%;
			}

			audio {
				display: block;
				max-width: 100%;
			}

			div.item-divider:last-of-type {
				padding: 5px;
				font-size: smaller;
				float: right;
				max-width: 100%;
			}

			div.item {
				margin: 0;
				padding: 10px;
				background-color: $msg-color;
				border: none;
			}
		}

		.card.left {
			float: left;
			margin-left: $msg-arrow + 5px;
			@include css-arrow(left, .7em, #f5f5f5, .1em, black, solid, 1em);
		}

		.card.right {
			float: right;
			margin-right: $msg-arrow + 5px;
			@include css-arrow(right, .7em, #f5f5f5, .1em, black, solid, 1em);
		}
	}

	.bar-footer {
		label {
			margin-right: .4em;
			textarea {
				width: 100%;
				background-color: inherit;
				resize: none;
				overflow-y: hidden;
				overflow-x: hidden;
			}
		}
		button, .button {
			background: $positive !important;
			border: none;
			border-radius: 50%;
			width: 35px;
			i {
				color: white;
			}
			margin-left: .4em;
			transition: all .2s ease-in-out;
		}

		button:active {
			transform: scale(1.5);
		}
	}
}

.platform-android {
	.action-sheet {
		.button {
			text-align: center;
			border-color: rgb(209, 211, 214);
			font-size: 21px;
			color: #007aff;
		}
	}
}
