/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "www/lib/ngImgCrop/source/scss/ng-img-crop.scss";

$select-color:	#bbd8ff;

$msg-color: #f5f5f5;

$msg-arrow: 20px;

$input-height: 49px;

.has-error {
	border-color: red;
}

.form-error {
	color: red;
}
	
.offline { 
	opacity: 0.5;
}

.status {
	font-size: smaller;
	background-color: #FFAD33;
}

.selected {
	background-color: $select-color;
	
	.item-content {
		background-color: $select-color;
	}
}

img {
	border-radius: 50%;
}

icon i {
	@extend img;
	
	text-align: center;
	background-color: #e0e0e0;
	color: white;
	width: 100%;
}

i.header {
	display: inline-block;
	font-size: 34px;
	width: 34px;
	height: 34px;
}

i.avatar {
	font-size: 40px;
	width: 40px;
	height: 40px;
}

i.photo {
	font-size: 200px;
}

.photo {
	display: block;
	margin: auto;
	max-width: 200px;
	max-height: 200px;
	@media only screen and (max-width: 600px) {
		font-size: 33vw;
	}
}

.photo.edit {
	cursor: pointer;
}

.cropArea {
	margin: auto;
	display: block;
	background: $msg-color;
	width: 300px;
	height: 300px;
	
	img {
		width: 100%;
		height: 100%;
	}
}

.item-avatar {
	icon {
		img, i {
			position: absolute;
		    top: 16px;
		    left: 16px;
		    max-width: 40px;
		    max-height: 40px;
		    height: 100%;
		    font-size: 40px;
		    
			@extend .round;
		}
	}
}

ion-header-bar h1 img {
	height: 80%;
	vertical-align: middle;
}

.scroll {
	height: 100%;
	
	iframe {
		width: 100%;
		height: 100%;
	}
}

ion-nav-view[name=groupContent] {
	.row {
		.col {
			.button {
				width: 100%;
			}
		}
	}
	[name=typeSelect] a {
		@extend .disabled;
	}
}

ion-nav-view[name=userContent] {
	.row {
		.col-33 {
			.button {
				height: $input-height;
				width: 100%;	/* phone, email, address type */
			}
		}
		.col:last-of-type .item {
			height: $input-height;
		}
	}	
}

ion-nav-view[name=chatContent] {
	.card {
		overflow: inherit !important;
		width: 80%;
		position: relative;
		background-color: $msg-color;
		margin-top: .6em;
		margin-bottom: .6em;
		
		div.item-divider:last-of-type {
			padding: 5px;
			font-size: smaller;
			float: right;
			max-width: 100%;
		}
		
		div.item {
			padding: 10px;
			background-color: $msg-color;
			border: none;
		}
	}
	
	.card.left {
		float: left;
		margin-left: $msg-arrow + 5px;
	}
	
	.card.left:before {
	    content: "";
	    border-color: $msg-color transparent transparent transparent;
	    border-style: solid;
	    width: 0;
	    height: 0;
	    position: absolute;
	    top: 0;
	    left: -$msg-arrow;
	    border-width: $msg-arrow;
	}
	
	.card.right {
		float: right;
		margin-right: $msg-arrow + 5px;
	}
	
	.card.right:before {
	    content: "";
	    border-color: $msg-color transparent transparent transparent;
	    border-style: solid;
	    width: 0;
	    height: 0;
	    position: absolute;
	    top: 0;
	    right: -$msg-arrow;
	    border-width: $msg-arrow;
	}
	
	.bar-footer {
		form {
			width: 100%;
			
			input {
				width: 100% !important;
			}
		} 
	}
}	