<ion-header-bar class="item-input-inset">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
    <h1 class='title'>User</h1>  
</ion-header-bar>
<div class="bar item-input-inset">
	<label class="item-input-wrapper">
		<i class="icon ion-search placeholder-icon"></i>
	    <input type="text" ng-model="searchText">
	</label>
</div>
<ion-content class='has-subheader'>
	<ion-list>
		<ion-item class="item-avatar"
			ng-class="model.online ? '' : 'offline'" 
			ng-repeat="model in collection.models | UserSearchFilter:searchText"
			ng-controller="UserCtrl"
			ng-class="model.selected ? 'selected' : ''"
			href="#/user/{{model.id}}">
			<icon class="avatar" 
				ng-src="model.photoUrl"
				aria-label="{{model.name}}"
				otherwise="icon ion-android-person">
			</icon>
			<h2>
				<span>{{model.fullname}}</span>
				<span class='status'>{{model.status}}</span>
			</h2>
			<p>
				{{model.post}}
			</p>
			<ion-option-button class="button button-balanced icon-left ion-plus-round" on-tap="addRoster()">Roster</ion-option-button>
		</ion-item>
	</ion-list>
	<ion-infinite-scroll ng-if="collection.state.skip < collection.state.count" on-infinite="loadMore()">
	</ion-infinite-scroll>
</ion-content>