<ion-header-bar class="item-input-inset">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
    <h1 class='title'>
    	<span>{{model.fullname()}}</span>
    </h1>
</ion-header-bar>
<ion-content>
    <div class="row">
      <icon class="photo edit" 
        ng-src="model.photoUrl"
        ngf-select ngf-multiple='false' 
        ngf-change="select($files)" 
        ngf-accept="'image/*'"
        aria-label="{{model.fullname()}}"
        otherwise="icon ion-android-person">
      </icon>
    </div>

  <ng-include src="'templates/user/name.html'">
  </ng-include>

  <ng-include src="'templates/user/title.html'">
  </ng-include>

  <!-- phone, otherEmail, address -->
  <ion-list ng-repeat="attr in ['phone', 'otherEmail', 'address']"
    ng-include="'templates/user/attrs.html'">
  </ion-list>
</ion-content>
