<ion-header-bar class="item-input-inset">
	<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
	<h1 class='title'>Roster</h1>
</ion-header-bar>
<div class="bar item-input-inset">
	<label class="item-input-wrapper">
		<i class="icon ion-search placeholder-icon"></i>
	    <input type="text" ng-model="searchText">
	</label>
</div>
<ion-content class='has-subheader'>
	<ion-list>
		<ion-item class="item-avatar" 
			ng-class="model.type == 'chat' && ! model.user.online ? 'offline' : ''"
			ng-repeat="model in collection.models | rosterFilter:searchText"
			ng-controller="RosterItemCtrl"
			ng-class="model.selected ? 'selected' : ''"
			href="#/chat/{{model.type}}/{{model.user.id || model.group.id}}">
			<icon 
				ng-src="model.user.photoUrl"
				aria-label="{{model.user.fullname}}"
				otherwise="icon ion-android-person"
				ng-if="model.type == 'chat'">
			</icon>
			<icon 
				ng-src="model.group.photoUrl"
				aria-label="{{model.group.name}}"
				otherwise="icon ion-android-people"
				ng-if="model.type != 'chat'">
			</icon>
			<h2>
				<span>{{model.user.fullname || model.group.name}}</span>
				<span class='status' ng-if="model.type == 'chat'">{{model.user.status}}</span>
			</h2>
			<p>
				{{model.jid}}
			</p>
			<ion-option-button class="button button-assertive icon-left ion-trash-a" on-tap="remove();">Delete</ion-option-button>
			<span class="badge badge-assertive" ng-if="model.newmsg > 0">{{model.newmsg}}</span>
		</ion-item>
	</ion-list>
	<ion-infinite-scroll ng-if="collection.state.skip < collection.state.count" on-infinite="loadMore()">
	</ion-infinite-scroll>
</ion-content>
