<ion-header-bar class="item-input-inset">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
    <h1 class='title'>
    	<img class="photo" ng-src="{{model.photoUrl}}" aria-label="{{model.name}}">
    	<span>{{model.name}}</span>
    </h1>
    <a class="button button-clear" ng-click="save()">Save</a>  
</ion-header-bar>
<ion-content>
	<div class="cropArea">
		<img-crop image="src" result-image="model.photoUrl" change-on-fly="true">
		</img-crop>
	</div>
</ion-content>