<ion-header-bar class="item-input-inset">
	<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
	<h1 class='title'>{{'Group' | translate}}</h1>
	<button class="button button-clear icon ion-android-more-horizontal" ng-click="popover.show($event)"></button>
</ion-header-bar>
<div class="bar item-input-inset" ng-show="subheader">
	<label class="item-input-wrapper">
		<i class="icon ion-search placeholder-icon"></i>
	    <input type="text" ng-model="searchText" focus-on="!!subheader">
	</label>
</div>
<ion-content ng-class='{"has-subheader": subheader}'>
	<ion-tabs class="tabs-icon-left">
		<ion-tab title="{{'Private' | translate}}"
			icon="ion-locked"
			href="#/group/list/private">
			<ion-nav-view name="tabPrivate"></ion-nav-view>
		</ion-tab>
		<ion-tab title="{{'Public' | translate}}"
			icon="ion-android-people"
			href="#/group/list/public">
			<ion-nav-view name="tabPublic"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-content>
