<ion-view title="tab">
	<ion-content>
		<ion-list>
			<ion-item class="item-avatar" 
				ng-repeat="model in collection.models | groupFilter:searchText | orderBy:'+name'"
				ng-controller="GroupCtrl"
				ng-class="model.selected ? 'selected' : ''"
				href="#/chat/groupchat/{{model.id}}">
				<icon 
					ng-src="model.photoUrl"
					aria-label="{{model.name}}"
					otherwise="icon ion-android-people">
				</icon>
				<h2>
					<span>{{model.name}}</span>
				</h2>
				<p>
					{{model.jid}}
				</p>
				<ion-option-button class="button button-balanced icon-left ion-plus-round" on-tap="addRoster()">Roster</ion-option-button>
				<ion-option-button class="button button-positive icon-left ion-edit" on-tap="edit()" ng-if="me.canEdit(model)">Edit</ion-option-button>
				<ion-option-button class="button button-assertive icon-left ion-trash-a" on-tap="remove()" ng-if="me.canRemove(model)">Delete</ion-option-button>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll ng-if="collection.state.skip < collection.state.count" on-infinite="controller.loadMore()">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>