<div class="card" 
	ng-class="model.from == me.jid ? 'left' : 'right'"
	on-hold="copy(model)">
	<ng-include src="'templates/chat/file.html'" ng-if="model.msgType() == 'file'">
	</ng-include>
	<ng-include src="'templates/chat/img.html'" ng-if="model.msgType() == 'img'">
	</ng-include>
	<pre ng-if="model.msgType() == 'msg'">{{model.body}}</pre>
	<div class="item item-divider">
		<span>{{model.createdAt.toLocaleString()}}</span>
		<span ng-if="type == 'groupchat'">{{model.from}}</span>
	</div>
</div>	