<ion-header-bar class="item-input-inset">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
    <h1 class='title'>
    	<icon class="header" ng-src="chat.photoUrl"
			aria-label="{{chat.fullname()}}"
			otherwise="icon ion-android-person"
			ng-if="type == 'chat'">
		</icon>
		<icon class="header" ng-src="chat.photoUrl"
			aria-label="{{chat.name}}"
			otherwise="icon ion-android-people"
			ng-if="type != 'chat'">
		</icon>
    	<span>{{chat.fullname() || chat.name}}</span>
    </h1>
    <button class="button button-clear icon ion-ios-search" ng-click="subheader = ! subheader"></button>
</ion-header-bar>
<div class="bar item-input-inset" ng-show="subheader">
	<label class="item-input-wrapper">
		<i class="icon ion-search placeholder-icon"></i>
	    <input type="text" ng-model="searchText" focus-on="!!subheader">
	</label>
</div>
<ion-content ng-class='{"has-subheader": subheader, "has-footer": !creating()}'>
	<div class="row"
		ng-repeat="model in collection.models |msgFilter:searchText |orderBy:'-createdAt'"
		ng-include="'templates/chat/item.html'">
	</div>
	<ion-infinite-scroll ng-if="collection.state.skip < collection.state.count" on-infinite="loadMore()">
	</ion-infinite-scroll>
</ion-content>
<ion-footer-bar ng-if="!creating()">
  <ion-tabs class="tabs-icon-left tabs-color-positive">
    <!-- file attachment -->
    <span class="fileButton tab-item" style="margin: inherit; cursor: pointer;">
      <i class="icon ion-android-attach"></i> {{'Attachment' | translate}}
      <input type="file" onchange="angular.element(this).scope().addFile(event.target.files); event.target.value = '';">
    </span>
    <!-- image/video attachment -->
    <span class="fileButton tab-item" style="margin: inherit; cursor: pointer;">
      <i class="icon ion-android-camera"></i> {{'Photo' | translate}}
      <input type="file" accept="image/*,video/*" onchange="angular.element(this).scope().addFile(event.target.files); event.target.value = '';">
    </span>
    <!-- audio attachment for browser with getusermedia support -->
    <span class="fileButton tab-item" style="margin: inherit; cursor: pointer;"
      on-hold="audioService.recorder.start()"
      on-release="audioService.recorder.stop()"
      ng-if="device.platform == 'browser' && Modernizr.getusermedia">
      <i class="icon ion-android-microphone"></i> {{'Voice' | translate}}
    </span>
    <ion-tab title="{{'Voice' | translate}}"
      icon="ion-android-microphone"
      ng-controller="AudioCtrl"
      ng-click="start()" href="#"
      ng-if="device.platform == 'iOS' || device.platform == 'Android'">
    </ion-tab>
    <ion-tab title="{{'Text' | translate}}"
      icon="ion-android-textsms"
      ng-click="addMsg()" href="#">
    </ion-tab>
  </ion-tabs>
</ion-footer-bar>
