<ion-header-bar class="item-input-inset">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
    <h1 class='title'>
    	<icon class="header" ng-src="chat.photoUrl"
			aria-label="{{chat.fullname()}}"
			otherwise="icon ion-android-person"
			ng-if="type == 'chat'">
		</icon>
		<icon class="header" ng-src="chat.photoUrl"
			aria-label="{{chat.name}}"
			otherwise="icon ion-android-people"
			ng-if="type != 'chat'">
		</icon>
    	<span>{{chat.fullname() || chat.name}}</span>
    </h1>
    <button class="button button-clear icon ion-ios-search" ng-click="subheader = ! subheader"></button>
</ion-header-bar>
<div class="bar item-input-inset" ng-show="subheader">
	<label class="item-input-wrapper">
		<i class="icon ion-search placeholder-icon"></i>
	    <input type="text" ng-model="searchText" focus-on="!!subheader">
	</label>
</div>
<ion-content ng-class='{"has-subheader": subheader}'>
	<div class="row"
		ng-repeat="model in collection.models |msgFilter:searchText |orderBy:'-createdAt'"
		ng-include="'templates/chat/item.html'">
	</div>
	<ion-infinite-scroll ng-if="collection.state.skip < collection.state.count" on-infinite="loadMore()">
	</ion-infinite-scroll>
</ion-content>
<ion-footer-bar class="item-input-inset">
    <label class="item-input-wrapper">
		<textarea rows='1' ng-model="msg" ng-change="row(msg)"></textarea>
	</label>
	<div class="buttons">
	    <button class="button" ng-click="send()" ng-if="msg != ''">
	    	<i class="icon ion-android-send"></i>
	    </button>
	    <button class="button" ngf-select="putfile($files)" ng-if="msg == ''">
	    	<i class="icon ion-paperclip"></i>
	    </button>
    </div>
</ion-footer-bar>
