:root {
    --clip-padding: 6%;
    --film-width: 2%;
    --film-height: 3%;
}

.clip {
    padding-top: var(--clip-padding);
    padding-bottom: var(--clip-padding);
    position: relative;
    background-color: #000;
    background-image:
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),

        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),

        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),

        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),

        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff),
        linear-gradient(to right, #fff, #fff);

    background-repeat:no-repeat;
    background-position:
        calc(var(--film-width) * 1) var(--film-width),
        calc(var(--film-width) * 3) var(--film-width),
        calc(var(--film-width) * 5) var(--film-width),
        calc(var(--film-width) * 7) var(--film-width),
        calc(var(--film-width) * 9) var(--film-width),
        calc(var(--film-width) * 11) var(--film-width),
        calc(var(--film-width) * 13) var(--film-width),
        calc(var(--film-width) * 15) var(--film-width),
        calc(var(--film-width) * 17) var(--film-width),
        calc(var(--film-width) * 19) var(--film-width),
        calc(var(--film-width) * 21) var(--film-width),
        calc(var(--film-width) * 23) var(--film-width),
        calc(var(--film-width) * 25) var(--film-width),
        calc(var(--film-width) * 27) var(--film-width),
        calc(var(--film-width) * 29) var(--film-width),
        calc(var(--film-width) * 31) var(--film-width),
        calc(var(--film-width) * 33) var(--film-width),
        calc(var(--film-width) * 35) var(--film-width),
        calc(var(--film-width) * 37) var(--film-width),
        calc(var(--film-width) * 39) var(--film-width),
        calc(var(--film-width) * 41) var(--film-width),
        calc(var(--film-width) * 43) var(--film-width),
        calc(var(--film-width) * 45) var(--film-width),
        calc(var(--film-width) * 47) var(--film-width),
        calc(var(--film-width) * 49) var(--film-width),

        calc(var(--film-width) * 1) calc(100% - var(--film-width)),
        calc(var(--film-width) * 3) calc(100% - var(--film-width)),
        calc(var(--film-width) * 5) calc(100% - var(--film-width)),
        calc(var(--film-width) * 7) calc(100% - var(--film-width)),
        calc(var(--film-width) * 9) calc(100% - var(--film-width)),
        calc(var(--film-width) * 11) calc(100% - var(--film-width)),
        calc(var(--film-width) * 13) calc(100% - var(--film-width)),
        calc(var(--film-width) * 15) calc(100% - var(--film-width)),
        calc(var(--film-width) * 17) calc(100% - var(--film-width)),
        calc(var(--film-width) * 19) calc(100% - var(--film-width)),
        calc(var(--film-width) * 21) calc(100% - var(--film-width)),
        calc(var(--film-width) * 23) calc(100% - var(--film-width)),
        calc(var(--film-width) * 25) calc(100% - var(--film-width)),
        calc(var(--film-width) * 27) calc(100% - var(--film-width)),
        calc(var(--film-width) * 29) calc(100% - var(--film-width)),
        calc(var(--film-width) * 31) calc(100% - var(--film-width)),
        calc(var(--film-width) * 33) calc(100% - var(--film-width)),
        calc(var(--film-width) * 35) calc(100% - var(--film-width)),
        calc(var(--film-width) * 37) calc(100% - var(--film-width)),
        calc(var(--film-width) * 39) calc(100% - var(--film-width)),
        calc(var(--film-width) * 41) calc(100% - var(--film-width)),
        calc(var(--film-width) * 43) calc(100% - var(--film-width)),
        calc(var(--film-width) * 45) calc(100% - var(--film-width)),
        calc(var(--film-width) * 47) calc(100% - var(--film-width)),
        calc(var(--film-width) * 49) calc(100% - var(--film-width));

    background-size:
        var(--film-width) var(--film-height),
        var(--film-width) var(--film-height),
        var(--film-width) var(--film-height),
        var(--film-width) var(--film-height),
        var(--film-width) var(--film-height),
        var(--film-width) var(--film-height),
        var(--film-width) var(--film-height),
        var(--film-width) var(--film-height),
        var(--film-width) var(--film-height),
        var(--film-width) var(--film-height),
        var(--film-width) var(--film-height),

        var(--film-width) var(--film-height),
        var(--film-width) var(--film-height),
        var(--film-width) var(--film-height),
        var(--film-width) var(--film-height),
        var(--film-width) var(--film-height),
        var(--film-width) var(--film-height),
        var(--film-width) var(--film-height),
        var(--film-width) var(--film-height),
        var(--film-width) var(--film-height),
        var(--film-width) var(--film-height),
        var(--film-width) var(--film-height);
}
